@font-face {
  font-family: vlbauhau;
  src: url(./../fonts/VLBAUHAUSSTDLIGHT.OTF);
}
@font-face {
  font-family: UTM_Facebooks;
  src: url(./../fonts/UTMFacebookKT.ttf);
}
@font-face {
  font-family: Montserrat;
  src: url(./../fonts/Montserrat-Medium.otf);
}