.header_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .header_top .logo {
    width: 150px;
    overflow: hidden; }
    .header_top .logo img {
      width: 100%;
      height: auto; }
  .header_top .search {
    width: 35%; }
    .header_top .search form {
      width: 100%;
      position: relative; }
      .header_top .search form input {
        width: 100%;
        height: 45px;
        border: 1px solid #FC7700;
        border-radius: 45px;
        padding-left: 15px; }
        .header_top .search form input::-webkit-input-placeholder {
          color: #FC7700; }
        .header_top .search form input:-ms-input-placeholder {
          color: #FC7700; }
        .header_top .search form input::-ms-input-placeholder {
          color: #FC7700; }
        .header_top .search form input::placeholder {
          color: #FC7700; }
        .header_top .search form input:focus {
          outline: 0; }
          .header_top .search form input:focus::-webkit-input-placeholder {
            opacity: 0; }
          .header_top .search form input:focus:-ms-input-placeholder {
            opacity: 0; }
          .header_top .search form input:focus::-ms-input-placeholder {
            opacity: 0; }
          .header_top .search form input:focus::placeholder {
            opacity: 0; }
      .header_top .search form .btn_search {
        position: absolute;
        width: 30px;
        right: 15px;
        top: 50%;
        -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        transform: translate(0, -50%);
        overflow: hidden;
        padding: 0; }
        .header_top .search form .btn_search img {
          width: 100%; }
  .header_top .list_menu_top {
    width: 37%; }
    .header_top .list_menu_top ul {
      padding: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-flow: flex-end;
      flex-flow: flex-end;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .header_top .list_menu_top ul li {
        list-style-type: none;
        margin-right: 15px; }
        .header_top .list_menu_top ul li a {
          color: #FC7700;
          font-size: 16px;
          font-family: Roboto;
          font-weight: 400; }
          .header_top .list_menu_top ul li a:hover {
            color: #FC7700;
            text-decoration: none; }
      .header_top .list_menu_top ul .phone_hotline a {
        color: #fff;
        background: #FC7700;
        border: none;
        border-radius: 45px;
        width: 170px;
        height: 30px;
        line-height: 20px; }
      .header_top .list_menu_top ul .phone_hotline span img {
        width: 18px; }

.submenu {
  display: none; }

.header_bottom {
  background: #fc7700;
  margin-top: 10px; }

.menu_main {
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .menu_main li {
    list-style-type: none;
    padding: 10px 0 0 0; }
    .menu_main li a {
      color: #fff;
      text-transform: uppercase; }
      .menu_main li a:hover {
        text-decoration: none; }

.section_slider {
  width: 100%;
  overflow: hidden; }
  .section_slider .slider_element {
    width: 100%; }
    .section_slider .slider_element .item {
      width: 100%; }
      .section_slider .slider_element .item img {
        width: 100%; }

.element_title_default {
  width: 100%;
  text-align: center; }
  .element_title_default h2 {
    color: #ba0000;
    text-transform: uppercase; }
  .element_title_default p {
    color: #ba0000; }

.section_go_edu {
  background: #f4f4f4; }

.education_element {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .education_element .item {
    width: 23.5%; }
    .education_element .item .edu_content {
      width: 100%;
      height: 270px;
      text-align: center;
      margin: 20px 0;
      padding: 15px;
      height: 270px; }
      .education_element .item .edu_content h2 {
        color: #fff;
        text-transform: capitalize; }
      .education_element .item .edu_content p {
        color: #fff; }
    .education_element .item .edu_1 {
      background: #7cd000;
      position: relative; }
      .education_element .item .edu_1:before {
        position: absolute;
        content: '';
        width: 60px;
        height: 60px;
        bottom: -15px;
        left: 40%;
        -webkit-transform: rotateZ(45deg);
        -ms-transform: rotate(45deg);
        transform: rotateZ(45deg);
        background: #7cd000; }
      .education_element .item .edu_1:hover {
        cursor: pointer;
        margin-bottom: -10px;
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s; }
    .education_element .item .edu_2 {
      background: #00be90;
      position: relative; }
      .education_element .item .edu_2:before {
        position: absolute;
        content: '';
        width: 60px;
        height: 60px;
        top: -15px;
        left: 40%;
        -webkit-transform: rotateZ(45deg);
        -ms-transform: rotate(45deg);
        transform: rotateZ(45deg);
        background: #00be90; }
      .education_element .item .edu_2:hover {
        cursor: pointer;
        margin-top: -10px;
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s; }
    .education_element .item .edu_3 {
      background: #019ade;
      position: relative; }
      .education_element .item .edu_3:before {
        position: absolute;
        content: '';
        width: 60px;
        height: 60px;
        bottom: -15px;
        left: 40%;
        -webkit-transform: rotateZ(45deg);
        -ms-transform: rotate(45deg);
        transform: rotateZ(45deg);
        background: #019ade; }
      .education_element .item .edu_3:hover {
        cursor: pointer;
        margin-bottom: -10px;
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s; }
    .education_element .item .edu_4 {
      background: #006dd6;
      position: relative; }
      .education_element .item .edu_4:before {
        position: absolute;
        content: '';
        width: 60px;
        height: 60px;
        top: -15px;
        left: 40%;
        -webkit-transform: rotateZ(45deg);
        -ms-transform: rotate(45deg);
        transform: rotateZ(45deg);
        background: #006dd6; }
      .education_element .item .edu_4:hover {
        cursor: pointer;
        margin-top: -10px;
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s; }
    .education_element .item .edu_img {
      width: 100%;
      height: 100%;
      overflow: hidden;
      margin: 20px 0;
      height: 270px; }
      .education_element .item .edu_img img {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover; }
      .education_element .item .edu_img:hover {
        cursor: pointer; }
        .education_element .item .edu_img:hover img {
          -webkit-transform: scale(1.2);
          -ms-transform: scale(1.2);
          transform: scale(1.2);
          -webkit-transition: 0.5s;
          -o-transition: 0.5s;
          transition: 0.5s; }

.btn_default {
  text-align: center; }
  .btn_default a {
    background: #fc7700;
    text-transform: uppercase;
    border-radius: 50px;
    width: 300px;
    height: 50px;
    color: #fff;
    line-height: 40px; }
    .btn_default a:hover {
      text-decoration: none;
      color: #fff; }
    .btn_default a span img {
      width: 20px;
      margin-right: 15px; }

.go_edu_element {
  margin-top: 50px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .go_edu_element .item {
    width: 32%;
    border: 1px solid #fc7700;
    position: relative; }
    .go_edu_element .item .img_hover {
      position: absolute;
      bottom: -40px;
      left: 50%;
      -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
      transform: translate(-50%, 0);
      width: 18px;
      opacity: 0; }
    .go_edu_element .item:hover {
      margin-top: -20px;
      -webkit-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s;
      background: #fc7700; }
      .go_edu_element .item:hover .title {
        background: #fff; }
        .go_edu_element .item:hover .title h2 {
          color: #fc7700; }
      .go_edu_element .item:hover ul li {
        color: #fff; }
        .go_edu_element .item:hover ul li:before {
          background: #fff;
          border: 1px solid #fc7700; }
      .go_edu_element .item:hover .img_hover {
        opacity: 1;
        bottom: -30px;
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s; }
    .go_edu_element .item .title {
      width: 100%;
      background: #fc7700;
      text-align: center;
      text-transform: uppercase; }
      .go_edu_element .item .title h2 {
        color: #fff;
        padding: 10px;
        margin: 0; }
    .go_edu_element .item ul {
      padding-top: 20px;
      padding-bottom: 20px; }
      .go_edu_element .item ul li {
        list-style-type: none;
        color: #fc7700;
        position: relative;
        margin: 10px 0; }
        .go_edu_element .item ul li:before {
          position: absolute;
          content: '';
          left: -46px;
          background: #fc7700;
          width: 10px;
          height: 10px;
          border-radius: 100%; }

.element_title_light {
  width: 100%;
  text-align: center; }
  .element_title_light h2 {
    color: #fff;
    text-transform: uppercase; }
  .element_title_light p {
    color: #fff; }

.section_method_study {
  background-image: url();
  background-size: cover;
  position: relative; }
  .section_method_study:before {
    position: absolute;
    content: '';
    background: #fc7700;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1; }

.method_element {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .method_element .item {
    width: 40%;
    background: #fff;
    padding: 20px;
    margin: 10px 0;
    border-radius: 10px; }
    .method_element .item h3 {
      text-transform: uppercase;
      color: #ba0000;
      font-weight: bold;
      margin-top: 0; }
    .method_element .item p {
      color: #3c3c3c;
      position: relative;
      margin-bottom: 0; }
      .method_element .item p:before {
        position: absolute;
        content: '';
        left: -10px;
        width: 2px;
        height: 100%;
        background: #ba0000; }

.section_education, .section_go_edu, .section_method_study, .section_form,
.section_gv {
  padding: 50px 0; }

.element_feel {
  width: 100%; }
  .element_feel .slider_feel {
    width: 100%; }
    .element_feel .slider_feel .item {
      padding: 50px 10px 10px 10px; }
      .element_feel .slider_feel .item .box {
        position: relative; }
        .element_feel .slider_feel .item .box .img_avatar {
          position: absolute;
          left: 50px;
          top: -30px;
          width: 80px;
          height: 80px;
          overflow: hidden;
          border-radius: 100%;
          z-index: 1;
          border: 2px solid #fc7700; }
          .element_feel .slider_feel .item .box .img_avatar img {
            width: 100%;
            height: 100%;
            -o-object-fit: cover;
            object-fit: cover; }
        .element_feel .slider_feel .item .box .thumbnail_img {
          width: 100%;
          position: relative; }
          .element_feel .slider_feel .item .box .thumbnail_img:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background: #ffffff60;
            top: 0;
            left: 0; }
          .element_feel .slider_feel .item .box .thumbnail_img img {
            width: 100%; }
          .element_feel .slider_feel .item .box .thumbnail_img .play_video {
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            width: auto; }

.section_form {
  background-image: url();
  background-size: cover;
  position: relative; }
  .section_form:before {
    position: absolute;
    content: '';
    background: #fc7700;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1; }

.form_homepage {
  width: 80%;
  margin: auto;
  text-align: center; }
  .form_homepage span {
    width: 100%;
    position: relative; }
    .form_homepage span img {
      position: absolute;
      left: 5px;
      top: 50%;
      -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      transform: translate(0, -50%);
      width: 35px; }
    .form_homepage span input {
      width: 100%;
      background: #fff;
      padding-left: 50px;
      border: none;
      border-radius: 50px;
      padding-top: 10px;
      padding-bottom: 10px;
      margin: 5px 0; }
      .form_homepage span input::-webkit-input-placeholder {
        color: #fc7700; }
      .form_homepage span input:-ms-input-placeholder {
        color: #fc7700; }
      .form_homepage span input::-ms-input-placeholder {
        color: #fc7700; }
      .form_homepage span input::placeholder {
        color: #fc7700; }
      .form_homepage span input:focus {
        outline: 0; }
        .form_homepage span input:focus::-webkit-input-placeholder {
          opacity: 0; }
        .form_homepage span input:focus:-ms-input-placeholder {
          opacity: 0; }
        .form_homepage span input:focus::-ms-input-placeholder {
          opacity: 0; }
        .form_homepage span input:focus::placeholder {
          opacity: 0; }
    .form_homepage span select {
      width: 100%;
      background: #fff;
      padding-left: 50px;
      border: none;
      border-radius: 50px;
      padding-top: 10px;
      padding-bottom: 10px;
      color: #fc7700;
      margin: 5px 0; }
      .form_homepage span select:focus {
        outline: 0; }
    .form_homepage span .btn_form_homepage {
      width: 170px;
      background: #fff;
      color: #fc7700;
      border: 1px solid #fc7700;
      text-transform: uppercase;
      border-radius: 50px;
      margin: auto;
      margin-top: 30px; }

.section_gv {
  background: #f4f4f4; }

.slider_gv {
  width: 100%; }
  .slider_gv .item {
    padding: 10px;
    height: 250px;
    overflow: hidden;
    position: relative;
    border-radius: 5px;
    border: 1px solid #fc7700; }
    .slider_gv .item:hover img {
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1);
      -webkit-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s; }
    .slider_gv .item img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover; }
    .slider_gv .item p {
      width: 100%;
      background: #fff;
      color: #fc7700;
      text-align: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      position: absolute;
      bottom: 0;
      left: 0;
      margin-bottom: 0;
      padding: 20px 0; }
      .slider_gv .item p a {
        color: #fc7700;
        text-align: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
        .slider_gv .item p a:hover {
          text-decoration: none;
          color: #fc7700; }
